extends layout-admin

append scripts
    script.
        $(function () {
            function approve(email, approved, role) {
                $.ajax({
                    url: "/open-archi/api/admin",
                    data: JSON.stringify({
                        email: email,
                        approved: approved,
                        role: role
                    }),
                    type: 'PATCH',
                    dataType: "json",
                    crossDomain: true,
                    contentType: "application/json",
                    xhr: function () {
                        return window.XMLHttpRequest === null || new window.XMLHttpRequest().addEventListener === null
                            ? new window.ActiveXObject("Microsoft.XMLHTTP")
                            : $.ajaxSettings.xhr();
                    }
                })
            }

            $('.account_checkboxes').change(function (e) {
                const account = $(e.currentTarget);
                approve(account.val(), account[0].checked);
            });

            $('.role_checkboxes').change(function (e) {
                const account = $(e.currentTarget);
                approve(account.val(), account[0].checked);
            });
        });

block content
    #body
        h1.text-center#message
        if accounts
            section(style="color: white").css-table
                table.table(class="table-condensed")
                    thead
                        tr
                            each head, i in header
                                th #{head}
                    tbody
                        each account,j in accounts
                            tr
                                td
                                    input.account_checkboxes(type="checkbox", name="account_checkboxes", value=account.email, style="padding-left: 5px;", checked=account.enabled)
                                td #{account.login}
                                td #{account.email}
                                - var accountRoles = account.roles
                                each role, k in roles
                                    - var roleChecked = accountRoles.includes(role)
                                    td
                                        input.role_checkboxes(type="checkbox", name="role_checkboxes", value=role, style="padding-left: 5px;", checked=roleChecked)