extends components/main

append styles
    // Custom styles for this template
    link(rel='stylesheet', type='text/css', href='/stylesheets/jquery.json-view.min.css')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700')
    link(rel='stylesheet', type='text/css', href='/stylesheets/navbar-fixed-top.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/justified-nav.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/tiny.css')
    link(rel='stylesheet', type='text/css', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css')

append scripts
    script(src='/javascripts/commons.js')
    script(src='/javascripts/jquery.json-view.min.js')
    script(src='/javascripts/w3color.js')

mixin navbar-open-archi(name, text, id, style, href, image, textColor)
    - if (!style) var style = "default";
    - if (!href) var href = "#";
    nav( role="navigation", class=["navbar", "navbar-fixed-top", "navbar-" + style], id=name)
        .container
            .navbar-header
                button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#" + id, aria-expanded="false", aria-controls="navbar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                div(style="display: flex;")
                    a(href=href)
                        img(alt=name, src=image)&attributes(attributes)
                    if text
                        span
                            if textColor
                                h2(style="color: " + textColor)= text
                            else
                                h2= text
            .collapse.navbar-collapse( id=id )
                ul.nav.navbar-nav
                    block extra-menu-elements
                ul.nav.navbar-nav.navbar-right
                    block

block body
    // Fixed navbar
    +navbar-open-archi("menu", null, "navbar", null, "/", "/images/open-archi.png", "#1E97C2")(width="90px", height="50px")
        if authorized
            +nav_item("#")= login
            +nav_item("#")(style='padding-top: 8px; padding-bottom: 0')
                +img-thumbnail(avatar, 'Profile avatar', 'padding: 0; margin: 0')(width="35px", height="35px")
            li
                a.btn.btn-danger(href='/logout', style='padding: 5px; color: white; margin-top: 8px; font-weight: bold;') Logout
    block content

block footer
    footer.footer
        p © open-archi 2018